.team {
    width: 40%;
    font-size: 16px;
    vertical-align: middle !important;
}

.result {
    font-size: 18px;
    vertical-align: middle !important;
}

.halfTime {
    font-size: 16px;
    color: grey;
    margin-left: 2px;
}

.bold {
    font-weight: bold;
}

.date {
    text-align: right;
    font-size: 20px;
    font-weight: bolder;
    background-color: aliceblue;
}