.TeamLogo {
    width: 26px;
    height: 26px;
}

.TeamNameCell {
    overflow: hidden;
    max-width: 150px;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
}

.TeamOrder {
    font-size: 10px;
    font-style: italic;
}

.TeamOrderRed {
    color: red;
}

.TeamOrderGrean {
    color: green;
}

.TeamNowrap {
    white-space: nowrap;
    width: 28px;
    vertical-align: middle !important;
}