@import '~bootstrap-scss';

body {
    font-size: 14px;
    width: 575px;
    margin: 0 auto;
}

.dropdown-menu {
    max-height: 300px;
    overflow: auto;
}

.w-40 {
    width: 40%;
}

.table {
    td {
        vertical-align: middle !important;
    }
}